
<div class="container">
  <h1 class="text-center">Our Restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
          <p><%= restaurant.phone_number %></p>
        </div>

        <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>


      </div>
    </div>
    <% end %>
  </div>
</div>

